NEXTJS_ENV=development
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
NEXT_PUBLIC_GOOGLE_MAPS_MAP_ID=
SUPABASE_SERVICE_ROLE_KEY=
UNSPLASH_ACCESS_KEY=
OURTRIPS_NODE_BACKEND_ORIGIN=
OURTRIPS_CHAT_BACKEND_SECRET=
